.itemWrapper {
	padding: 112px 211px 112px 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: transparent;
	gap: 40px;
	max-width: 1234px;

	.imgWrapper {
		padding: 90px;
		border-radius: 100%;
		background-color: #fef0e7;
	}

	.infoBlock {
		h2 {
			font-family: 'Jost', sans-serif;
			font-weight: 600;
			font-size: 50px;
			line-height: 144%;
			letter-spacing: 0.06em;
			margin-bottom: 50px;
		}

		.priceBlock {
			display: flex;
			justify-content: flex-start;
			gap: 25px;
			margin-bottom: 33px;
			span {
				display: block;
			}

			.newPrice {
				font-weight: 600;
				font-size: 34px;
				line-height: 59%;
				color: #f6623e;
			}

			.oldPrice {
				font-weight: 500;
				font-size: 24px;
				line-height: 83%;
				text-decoration: line-through;
				color: #828181;
			}
		}

		.description {
			font-weight: 500;
			font-size: 16px;
			line-height: 187%;
			color: #454545;
			margin-bottom: 53px;
			max-width: 700px;
		}

		.sliderButton {
			border: 2px solid #f6623e;
			padding: 15px 30px;
			font-weight: 500;
			font-size: 16px;
			line-height: 156%;
			text-align: center;

			transition: 0.2s ease-in-out;
			&:hover {
				background-color: #f6623e;
				color: #fff;
				border-radius: 5px;
			}
		}
	}
}

@media screen and (max-width: 1350px) {
	.itemWrapper {
		padding: 112px 60px;
		gap: 10px;
		.imgWrapper {
			padding: 30px;
			img {
				width: 200px;
			}
		}
		.infoBlock {
			h2 {
				margin-bottom: 25px;
				font-size: 32px;
			}
			.description {
				width: auto;
			}
		}
	}
}

@media screen and (max-width: 780px) {
	.itemWrapper {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 60px;
		padding-bottom: 0;

		.infoBlock {
			text-align: center;
			.priceBlock {
				justify-content: space-between;
			}

			.sliderButton {
				display: block;
				margin: 0 auto;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.itemWrapper {
		.imgWrapper {
			img {
				width: 150px;
			}
		}
		.infoBlock {
			.priceBlock {
				width: 100%;
				flex-direction: column;
			}
			.description {
				margin: 0 auto;
				margin-bottom: 20px;
			}
			.sliderButton {
				margin-bottom: 30px;
			}
		}
	}
}
