.itemWrapper {
	h2 {
		font-weight: 500;
		font-size: 16px;
		line-height: 137%;
		letter-spacing: 0.06em;
		margin: 0;
	}
	.priceBlock {
		margin-top: 11px;
		display: flex;
		gap: 6px;
		.newPrice {
			font-weight: 500;
			font-size: 15px;
			line-height: 133%;
			color: #f6623e;
		}

		.oldPrice {
			font-weight: 400;
			font-size: 14px;
			line-height: 143%;
			text-decoration: line-through;
			color: #828181;
		}
	}
}
