@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.promoSection {
	max-width: 1920px;
	margin: 0 auto;
	padding: 209px 175px;
	background-color: #fff8f6;
	border-radius: 0 0 200px 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 300px;
	box-sizing: border-box;
}

.shopName {
	font-family: 'Jost', sans-serif;
	font-weight: 600;
	font-size: 26px;
	line-height: 162%;
	color: #f6623e;
}

.productTitle {
	font-family: 'Jost', sans-serif;
	font-weight: 600;
	font-size: 66px;
	line-height: 139%;
	color: #000;
}

.productDescription {
	font-family: 'Jost', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 145%;
	max-width: 580px;
	margin-top: 60px;
}

.button {
	margin-top: 30px;
	background-color: #f6623e;
	padding: 14px 30px;
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 125%;
	text-transform: uppercase;
	color: #fff;
}

.advantages {
	margin-top: 100px;
	.words ul {
		list-style-type: none;
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		max-width: 1260px;

		li {
			font-family: 'Jost', sans-serif;
			color: #9e9e9e;
			text-transform: uppercase;
			font-size: 28px;
		}
	}
	.advantagesTitle {
		margin: 90px auto 97px auto;
		max-width: 540px;
		font-family: 'Jost', sans-serif;
		font-weight: 600;
		font-size: 40px;
		line-height: 152%;
		text-align: center;
	}

	.cards {
		display: flex;
		justify-content: center;
		gap: 55px;
	}
}

@media screen and (max-width: 1280px) {
	.productTitle {
		font-size: 40px;
	}

	.productDescription {
		font-size: 16px;
	}

	.advantages {
		.words ul {
			max-width: 800px;
			li {
				font-size: 24px;
			}
		}
		.advantagesTitle {
			font-size: 32px;
			margin: 60px auto;
		}
	}
}

@media screen and (max-width: 1152px) {
	.promoSection {
		gap: 100px;
	}

	.advantages {
		.cards {
			gap: 30px;
			flex-wrap: wrap;
		}
	}
}

@media screen and (max-width: 1152px) {
	.promoSection {
		gap: 30px;
		padding: 100px 100px;

		.productTitle {
			font-size: 28px;
		}

		.productDescription {
			font-size: 14px;
			margin-top: 20px;
		}

		.promoRight {
			img {
				width: 150px;
			}
		}
	}

	.advantages {
		margin-top: 40px;
		padding: 0 60px;

		.words ul {
			max-width: 400px;
			flex-wrap: wrap;
			gap: 30px;
			justify-content: center;

			li {
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.promoSection {
		flex-direction: column;
		border-radius: 0 0 50px 50px;
		text-align: center;

		.button {
			display: block;
			margin: 30px auto;
		}

		.promoRight {
			order: -1;
		}
	}
	.advantages {
		.advantagesTitle {
			font-size: 20px;
		}
	}
}
