.sliderWrapper {
	width: 900px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
.wrapper {
	img {
		width: 220px;
	}
}

.next {
	right: 2px;
}

.prev {
	left: 2px;
}

.next,
.prev {
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
	height: 30px;
	width: 30px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	* {
		fill: #000;
	}
	position: absolute;
	top: 50%;
	z-index: 3;
	background-color: #fff;
}

.next:hover,
.prev:hover {
	background-color: #f6623e;
	* {
		fill: #fff;
	}
}

@media screen and (max-width: 1800px) {
	.sliderWrapper {
		width: 700px;
	}
}

@media screen and (max-width: 1700px) {
	.sliderWrapper {
		width: 430px;
	}
}

@media screen and (max-width: 690px) {
	.sliderWrapper {
		width: 219px;
	}
}
